﻿<label style="text-align: center; display: flex; justify-content: center">@ViewData["Message"]</label>
<br />
<br />
<form asp-action="OnAddAction" asp-controller="Home" style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
    <label>Adding a new action</label>
    <br />
    <select name="actionType" style="width: 300px;" class="form-select">
        @foreach(string t in ViewBag.ActionTypes) {
            <option>@t</option>
        }
    </select>
    <br/>
    <input type="text" name="calories" placeholder="Burnt calories" style="width: 300px;" class="form-control" />
    <br />
    <input type="time" name="duration" placeholder="Duration" style="width: 300px;" class="form-control" />
    <br />
    <input type="date" name="date" placeholder="Date" style="width: 300px;" class="form-control" />
    <br />
    <input type="submit" style="width: 100px;" class="btn btn-primary" />
</form>