﻿<label style="text-align: center; display: flex; justify-content: center">@ViewData["Message"]</label>
<br />
<br />
<form asp-action="OnAddStat" asp-controller="Home" style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
    <label>Adding a new overall stat</label>
    <br />
    <input type="text" name="weight" placeholder="Weight" style="width: 300px;" class="form-control" />
    <br />
    <input type="text" name="fat" placeholder="Fat percent" style="width: 300px;" class="form-control" />
    <br />
    <input type="text" name="muscle" placeholder="Muscle Percent" style="width: 300px;" class="form-control" />
    <br />
    <input type="date" name="date" placeholder="Date" style="width: 300px;" class="form-control" />
    <br />
    <input type="submit" style="width: 100px;" class="btn btn-primary" />
</form>