﻿<label style="text-align: center; display: flex; justify-content: center">@ViewData["Message"]</label>
<br />
<br />
<table style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
    <tr>
        <th>Id</th>
        <th>Action Type</th>
        <th>Burnt calories</th>
        <th>Duration</th>
        <th>Date Done</th>
    </tr>
    @foreach (DatabaseRGR.Models.Action a in ViewBag.Actions) {
        <tr>
            <td>@a.Id</td>
            <td>@a.ActionType.Name</td>
            <td>@a.CaloriesBurnt</td>
            <td>@a.Duration</td>
            <td>@a.DateDone</td>
        </tr>
    }
</table>
<br />
<br />
<form asp-action="OnEditAction" asp-controller="Home" style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
    <label>Editing an action</label>
    <br />
    <label>Editing Id</label>
    <br />
    <select name="id" style="width: 300px;" class="form-select">
        @foreach (int t in ViewBag.ActionIds) {
            <option>@t</option>
        }
    </select>
    <br />
    <select name="actionType" style="width: 300px;" class="form-select">
        @foreach (string t in ViewBag.ActionTypes) {
            <option>@t</option>
        }
    </select>
    <br />
    <input type="text" name="calories" placeholder="Burnt calories" style="width: 300px;" class="form-control" />
    <br />
    <input type="time" name="duration" placeholder="Duration" style="width: 300px;" class="form-control" />
    <br />
    <input type="date" name="date" placeholder="Date" style="width: 300px;" class="form-control" />
    <br />
    <input type="submit" style="width: 100px;" class="btn btn-primary" />
</form>
