﻿<label style="text-align: center; display: flex; justify-content: center">@ViewData["Message"]</label>
<br />
<br />
<table style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
    <tr>
        <th>Id</th>
        <th>Weight</th>
        <th>Fat Percent</th>
        <th>Muscle Percent</th>
        <th>Date Done</th>
    </tr>
    @foreach (Stat a in ViewBag.Stats) {
        <tr>
            <td>@a.Id</td>
            <td>@a.Weight</td>
            <td>@a.FatPercent</td>
            <td>@a.MusclePercent</td>
            <td>@a.DateDone</td>
        </tr>
    }
</table>
<br />
<br />
<form asp-action="OnEditStat" asp-controller="Home" style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
    <label>Editing an overall stat</label>
    <br />
    <label>Editing Id</label>
    <br />
    <select name="id" style="width: 300px;" class="form-select">
        @foreach (Stat t in ViewBag.Stats) {
            <option>@t.Id</option>
        }
    </select>
    <br />
    <input type="text" name="weight" placeholder="Weight" style="width: 300px;" class="form-control" />
    <br />
    <input type="text" name="fat" placeholder="Fat percent" style="width: 300px;" class="form-control" />
    <br />
    <input type="text" name="muscle" placeholder="Muscle Percent" style="width: 300px;" class="form-control" />
    <br />
    <input type="date" name="date" placeholder="Date" style="width: 300px;" class="form-control" />
    <br />
    <input type="submit" style="width: 100px;" class="btn btn-primary" />
</form>
