﻿<form asp-action="OnRegister" asp-controller="Home" style="display: flex; flex-direction: column; text-align: center; justify-content: center; align-items: center;">
    <label>Register a new account</label>
    <br />
    <input type="text" name="login" placeholder="Login" style="width: 300px;" class="form-control" />
    <br />
    <input type="password" name="password" placeholder="Password" style="width: 300px;" class="form-control" />
    <br />
    <input type="submit" style="width: 100px;" class="btn btn-primary" />
    <br />
    <a asp-action="Index" asp-controller="Home">Back</a>
</form>